
<div class="clearfix"></div>
<h2 class="text-center" id="welcome">Welcome to Kaizen Chess!</h2>

<div id="jumbotron-game-index" class="jumbotron">
  <div class="container">
    <% if user_signed_in? %>
      <p class ="text-center">Click on the name of a game listed below, <a href= <%= new_game_path %>>start a new game (as white)</a>, or <a href = <%=open_path %>>look for a game to join (as black)</a>.</p>  
      <div class="clearfix"></div>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Your Active Games</b></div>
          <div class="panel-body">
            <b>Playing White:</b><br/>
            <% @games.each do |game| %>
              <% if (current_user.id == game.white_player_id && game.status == 'active') %>
                <%= link_to game.name, game_path(game.id) %>
                <% if current_user.id == game.active_player_id %>
                  (waiting for your move)
                <% end %>
                <br/>
              <% end %>
            <% end %>
            <br/>
            <b>Playing Black:</b><br/> 
            <% @games.each do |game| %>
              <% if (current_user.id == game.black_player_id && game.status == 'active') %>
                <%= link_to game.name, game_path(game.id) %>
                <% if current_user.id == game.active_player_id %>
                  (waiting for your move)
                <% end %>
                <br/>                
              <% end %>
            <% end %>        
          </div>
        </div> <!-- panel -->
      </div>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Your Pending Games</b></div>
          <div class="panel-body">
            <% @games.each do |game| %>
              <% if (current_user.id == game.white_player_id && game.status == 'pending') %>
                <%= link_to game.name, game_path(game.id) %>
                <br/>
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Your Completed Games</b></div>
          <div class="panel-body">
            <% @games.each do |game| %>
              <% if (current_user.id == game.white_player_id || current_user.id == game.black_player_id) && game.status == 'finished' %>
                <%= link_to game.name, game_path(game.id) %>
                <% if game.winning_player == current_user.id %>
                  (win)
                <% end %>
                <br/>
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--
      <div class="container col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">Observe a Game in Progress</div>
          <div class="panel-body">
            Look in on another game that you are not participating in.
            <% @games.each do |game| %>
              <% if game.black_player && game.white_player && game.black_player != current_user && game.white_player != current_user %>
                <%= link_to game.name, game_path(game.id) %>
              <% end %>
            <% end %>           
          </div>
        </div>
      </div>
      <div class="container col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Leader Board</div>
          <div class="panel-body">
            Show users and number of wins
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    -->
    <% else %>
      <p>
        <%= link_to "Sign in", new_user_session_path %> or 
        <%= link_to "Sign up", new_user_registration_path %> to play chess with your friends. <br/> 
        There are <%= pluralize(@active_game_count, 'game') %> in progress. 
        <% if @pending_game_count > 0 %>
          <%= pluralize(@pending_game_count, 'game') %>
          <%= @pending_game_count == 1 ? 'is' : 'are' %> 
          looking for an opponent.
        <% end %>
        Join the action!
      </p>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>



