
<div class="clearfix"></div>
<h2 class="text-center">Welcome to Kaizen Chess!</h2>
<div class="container">
  <div id="jumbotron-game-index" class="jumbotron container-fluid">
    <% if user_signed_in? %>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Your Active Games</div>
          <div class="panel-body">
            <h4>Playing White:</h4> </br>
            <% @games.each do |game| %>

              <% if (current_user.id == game.white_player_id && game.status == 'active') %>
                <%= link_to game.name, game_path(game.id) %>
                <% if current_user.id == game.active_player_id %>
                  (waiting for your move)
                <% end %>
                <br/>
              <% end %>
            <% end %>
            <h4>Playing Black:</h4> </br>
            <% @games.each do |game| %>
              <% if (current_user.id == game.black_player_id && game.status == 'active') %>
                <p><%= link_to game.name, game_path(game.id) %></p>
              <% end %>
            <% end %>        
          </div>
        </div> <!-- panel -->
      </div>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Your Pending Games</div>
          <div class="panel-body">
            <% @games.each do |game| %>
              <% if (current_user.id == game.white_player_id && game.status == 'pending') %>
                <p><%= link_to game.name, game_path(game.id) %></p>
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Your Completed Games</div>
          <div class="panel-body">
            <% @games.each do |game| %>
              <% if (current_user.id == game.white_player_id || current_user_id == game.black_player_id) && game.status == 'finished' %>
                <%= link_to game.name, game_path(game.id) %>
                <% if game.winning_player == current_user.id %>
                  (win)
                <% end %>
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">Observe a Game in Progress</div>
          <div class="panel-body">
            Look in on another game that you are not participating in.
            <% @games.each do |game| %>
              <% if game.black_player && game.white_player && game.black_player != current_user && game.white_player != current_user %>
                <%= link_to game.name, game_path(game.id) %>
              <% end %>
            <% end %>           
          </div>
        </div>
      </div>
      <div class="container col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Leader Board</div>
          <div class="panel-body">
            Show users and number of wins
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>



