<h1><%= @game.name %></h1>

<div class="chess_board_container">
	<table class="chess_board_table">
		
		<% for position_y in 8.downto(1) %>
			<% 
				if position_y % 2 == 0
					dark_square = false
				else
					dark_square = true
				end
			%>
			<tr>
			<% for position_x in 1..8 %>
				<% 
					if dark_square == true
						color_class = "dark_square"
						dark_square = false
					else
						color_class = "light_square"
						dark_square = true
					end
				%>
				<td>
					<div data-position-y=<%= position_y %> data-position-x=<%= position_x %> class="board_square <%= color_class %>">
						<% isPiece = @game.pieces.where(position_x: position_x, position_y: position_y).first %>
						<% if isPiece %>
							<% if isPiece.is_selected %>
								<div id="piece-<%=isPiece.id %>" class="piece selected-piece" data-piece-id=<%=isPiece.id %>></div>	
							<% else %>
								<div id="piece-<%=isPiece.id%>" class="piece" data-piece-id=<%=isPiece.id %>></div>	
							<% end %>
						<% end %>
						
					</div>
				</td>	
			<% end %>
			</tr>	
		<% end %>

	</table>

	<table class="x_axis_labels">
		<tr>
			<% 
				arr_x_labels = {
					1 => 'a',
					2 => 'b',
					3 => 'c',
					4 => 'd',
					5 => 'e',
					6 => 'f',
					7 => 'g',
					8 => 'h'
				}
			%>	
			<% for i in 1..8 %>
				<td><div class="label_square"><%= arr_x_labels[i] %></div></td>
			<% end %>

		</tr>
	</table>

	<table class="y_axis_labels">
		<% for i in 8.downto(1) %>
			<tr>
				<td><div class="label_square"><%= i %></div></td>
			</tr>
		<% end %>
		
	</table>
</div> <!-- close chess_board_container div -->

<h1>White Player</h1>
<p><%= @game.white_player.email %></p>
<br />
<br />
<h1>Black Player</h1>
<% if @game.black_player == nil %>
	<%= link_to 'Join Game', join_game_path(@game), method: :patch, class: 'btn btn-success' %>
<% else %>
	<p><%= @game.black_player.email %></p>
<% end %>
<br />
<br />

<script>
	
	var pieceCodes = {
		white: 
		{
			'pawn': '&#9817;',
		 	'rook': '&#9814;',
		 	'knight': '&#9816;',
		 	'bishop': '&#9815;',
		 	'queen': '&#9813;',
		 	'king': '&#9812;'
		},
		black: 
		{
			'pawn': '&#9823;',
		 	'rook': '&#9820;',
		 	'knight': '&#9822;',
		 	'bishop': '&#9821;',
		 	'queen': '&#9819;',
		 	'king': '&#9818;'
		}
	}
	
	function drawPieces(){
		$.ajax({
      type: 'GET', 
      url: '<%= get_pieces_path(@game) %>',
      dataType: 'json',
      success: function(pieces) {
        $.each(pieces, function(index, piece){
        	var piece_color;				
					if (piece.player_id == <%= @game.white_player_id %>){
						piece_color = 'white';
					}
					else{
						piece_color = 'black'
					}
					$('.board_square[data-position-x='+ piece.position_x + '][data-position-y=' + piece.position_y + ']').children('.piece').html(pieceCodes[piece_color][piece.type.toLowerCase()]);
				});
      }, error: function (data) {
        console.log('Chess pieces failed to load!');
      }
    });
	}

	$(document).ready(function(){
		drawPieces();
	});

//mine
	$(".piece").click(toggleSelect);

	function toggleSelect(e){
		var pieceId = $(e.target).data('piece-id');
		// build the url: /games/:game_id/pieces/:id/select
		var pieceUrl = "/games/" + <%=@game.id%> + "/pieces/" + pieceId + "/select";
		$.post(pieceUrl, {
			_method: "PATCH"
		}).success(function(data){
			location.reload(true);
		});
	} 

//end

</script>