
<h4 id="game-status-panel-title" class="text-center"><%= @game.name %></h4>
<h4 id="firebase-turn" class="text-center"></h4>
<h4 id="firebase-checkalert" class="text-center"></h4>
  
<br/>
<div class="chess_board_container">
	<table class="chess_board_table">
		
		<% for position_y in 8.downto(1) %>
			<% 
				if position_y % 2 == 0
					dark_square = false
				else
					dark_square = true
				end
			%>
			<tr>
			<% for position_x in 1..8 %>
				<% 
					if dark_square == true
						color_class = "dark_square"
						dark_square = false
					else
						color_class = "light_square"
						dark_square = true
					end
				%>
				<td>
					<div data-position-x=<%= position_x %> data-position-y=<%= position_y %> class="board_square <%= color_class %>">
						<% is_piece = @game.pieces.where(position_x: position_x, position_y: position_y).first %>
						<% if is_piece %>
								<div id="piece-<%=is_piece.id %>" class="piece" data-piece-id=<%=is_piece.id %> data-position-x=<%= is_piece.position_x %> data-position-y=<%= is_piece.position_y %> ></div>	
						<% end %>					
					</div>
				</td>	
			<% end %>
			</tr>	
		<% end %>
	</table>

	<table class="x_axis_labels">
		<tr>
			<% 
				arr_x_labels = {
					1 => 'a',
					2 => 'b',
					3 => 'c',
					4 => 'd',
					5 => 'e',
					6 => 'f',
					7 => 'g',
					8 => 'h'
				}
			%>	
			<% for i in 1..8 %>
				<td><div class="label_square"><%= arr_x_labels[i] %></div></td>
			<% end %>
		</tr>
	</table>

	<table class="y_axis_labels">
		<% for i in 8.downto(1) %>
			<tr>
				<td><div class="label_square"><%= i %></div></td>
			</tr>
		<% end %>
	</table>

</div> <!-- close chess_board_container div -->
<br><br><br>

<div class="container col-xs-8 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" id="game-action-panel-title">Game Actions</h4>
    </div>
    <div class="panel-body">
      <div class="clearfix"></div>
      <div class="whitepromotion" style="display: none;" >
      <h4>Promote your pawn:</h4>
        <div class="container">
          <div class="btn btn-default choosepiece" data-piece-type="Rook">♖</div>
          <div class="btn btn-default choosepiece" data-piece-type="Knight">♘</div>
          <div class="btn btn-default choosepiece" data-piece-type="Bishop">♗</div>
          <div class="btn btn-default choosepiece" data-piece-type="Queen">♕</div>
        </div>
        <br/>
      </div>
      <div class="clearfix"></div>
      <div class="blackpromotion" style="display: none;">
      <h4>Promote your pawn:</h4>
        <div class="container">
          <div class="btn btn-default choosepiece" data-piece-type="Rook">♜</div>
          <div class="btn btn-default choosepiece" data-piece-type="Knight">♞</div>
          <div class="btn btn-default choosepiece" data-piece-type="Bishop">♝</div>
          <div class="btn btn-default choosepiece" data-piece-type="Queen">♛</div> 
        </div>
        <br/>
      </div>
      <div class="clearfix"></div>      
      <% if @game.black_player == nil && @game.white_player_id != current_user.id %>
        <button class="btn btn-primary btn-sm" id="join-game">Join Game</button>
      <% end %>
      <button class="btn btn-danger btn-sm" id="forfeit-game">Forfeit Game</button>
      <br/><br/>
      <h5 id="draw-status-msg"></h5><br/>
      <button class="btn btn-default btn-sm" id="offer-draw">Offer Draw</button>
      <button class="btn btn-default btn-sm" id="decline-draw">Decline Draw</button>
      <button class="btn btn-default btn-sm" id="rescind-draw">Rescind Draw</button>
      <button class="btn btn-default btn-sm" id="accept-draw">Accept Draw</button>  
    </div>
  </div>
</div>
<div class="clearfix"></div>

White Player: <%= @game.white_player.email %>
Black Player: 
<% if @game.black_player != nil %>
	<%= @game.black_player.email %>
<% end %>
<br />

<script>
  function firebaseStart(){
    var firebaseURL = "/games/" + '<%=@game.id%>' + "/get_firebase_info";
    $.ajax({
      type: 'GET', 
      url: firebaseURL,
      dataType: 'json',
      success: function(response) {
        firebase.initializeApp(response.config);
        var dbRef = firebase.database().ref();
        var gamesRef = dbRef.child('games'); 
        var gameRef = gamesRef.child('<%= @game.firebase_game_id %>');
        var whitePlayerId = <%= @game.white_player_id %>;

        gameRef.on('value', function(dataSnapshot) { 
          var gameData = dataSnapshot.val(); 
          if (gameData) {
            if (gameData.active_player_id == '<%= current_user.id %>') {
              $('#firebase-turn').text('It is your turn.');  
            }
            else if (gameData.active_player_id) {
              if (gameData.active_player_id == whitePlayerId) {
                $('#firebase-turn').text('White\'s Move');  
              }
              else if (gameData.active_player_id !== "") {
                $('#firebase-turn').text('Black\'s Move');    
              }
              else { 
                $('#firebase-turn').text('');   
              }
            }

            $('#draw-status-msg').text(gameData.draw_message);
            $('#game-status-panel-title').text(gameData.status_message);
            $('#firebase-checkalert').text(gameData.check_message);

            console.log('calling drawPieces from listener');
            drawPieces();
            console.log('calling updateActivePlayer from listener');
            updateActivePlayer();
          }  
          else {
            console.log('listening for changes, cant find game- gameRef ' + gameRef);
          }
        });
          },
      error: function (data) {
        console.log('did not get firebase info!');
      }
    });
  }

  function firebaseStop(){
    var dbRef = firebase.database().ref();
    var gamesRef = dbRef.child('games'); 
    var gameRef = gamesRef.child('<%= @game.firebase_game_id %>');
    console.log('turning off the listener: ' + gameRef);
    gameRef.off();
  }

	var pieceCodes = {
		white: 
		{
			'pawn': '&#9817;',
		 	'rook': '&#9814;',
		 	'knight': '&#9816;',
		 	'bishop': '&#9815;',
		 	'queen': '&#9813;',
		 	'king': '&#9812;'
		},
		black: 
		{
			'pawn': '&#9823;',
		 	'rook': '&#9820;',
		 	'knight': '&#9822;',
		 	'bishop': '&#9821;',
		 	'queen': '&#9819;',
		 	'king': '&#9818;'
		}
	}
	
	function drawPieces(){
		$.ajax({
      type: 'GET', 
      url: '<%= get_pieces_path(@game) %>',
      dataType: 'json',
      cache: false,
      success: function(pieces) {
        // empty all board squares before redrawing
        $('.board_square').empty();
        $.each(pieces, function(index, piece){
        	if( isPieceOnBoard(piece.position_x, piece.position_y) ){
        		var pieceColor;	
						if (piece.player_id == <%= @game.white_player_id %>){
							pieceColor = 'white';
						}
						else{
							pieceColor = 'black'
						}
						// get rid of old piece
						$('.piece[data-piece-id=' + piece.id + ']').empty();
						clonedPiece = $('<div class="piece"></div>'); 
						clonedPiece.attr('data-piece-id', piece.id);
						clonedPiece.attr('data-piece-color', pieceColor);
						clonedPiece.attr('data-piece-position-x', piece.position_x);
						clonedPiece.attr('data-piece-position-y', piece.position_y);
						clonedPiece.addClass(pieceColor);
						clonedPiece.html(pieceCodes[pieceColor][piece.type.toLowerCase()]);

						$('.board_square[data-position-x='+ piece.position_x + '][data-position-y=' + piece.position_y + ']').html(clonedPiece);
        	}
          else {
            $('.piece[data-piece-id=' + piece.id + ']').empty();
          }
				});
        updateActivePlayer();
      }, error: function (data) {
        console.log('Chess pieces failed to load!');
      }
    });
	}

	function isPieceOnBoard(x,y){
		return ( x > 0 && x <= 8 && y > 0 && y <= 8 );
	}

	function isEmptyBoardSquare(x,y){
		if( $('.board_square[data-position-x='+ x + '][data-position-y=' + y + ']').find('.piece').length > 0 ){
			return true;
		}
		else{
			return false;
		}
	}

	function gameStatus(){
		$.ajax({
      type: 'GET', 
      url: '<%= status_game_path(@game) %>',
      dataType: 'json',
      success: function(data) {
      	console.log('updated gameStatus');
      }, 
      error: function (data) {
        console.log('Status failed to load!');
      }
    });
	}

	$(document).ready(function(){
    firebaseStart();
		drawPieces();
		gameStatus();
		$('.dark_square').droppable({drop: dropPiece});
		$('.light_square').droppable({drop: dropPiece});
    var current_user_id = <%= current_user.id %>;
    var white_player_id = '<%= @game.white_player_id %>';
    if (current_user_id == white_player_id) {
      $('#forfeit-game').addClass('white-player');
    }
    else {
      $('#forfeit-game').addClass('black-player');
    }
		updateActivePlayer();
	});

  $(window).unload(function() {
    console.log('I am unloading!');
    firebaseStop();  // stop listening for this game
  })

	$('.piece').on('drag',(function(){
		$(this).css('color', 'blue');
	}));

	$('.piece').on('dragstop', function() {
		$(this).css('color', 'black');
	} );

	$('#join-game').on('click', function(){
		joinGame(<%=@game.id %>);
	})

  $('#offer-draw').on('click', function(){
    offerDraw(<%=@game.id%>);
  })

  $('#decline-draw').on('click', function(){
    declineDraw(<%=@game.id%>);
  })

  $('#rescind-draw').on('click', function(){
    rescindDraw(<%=@game.id%>);
  })

  $('#accept-draw').on('click', function(){
    acceptDraw(<%=@game.id%>);
  })

  function acceptDraw(gameId){
    var acceptDrawUrl = "/games/" + gameId + "/accept_draw";
    var data = {_method: 'PATCH'};
    $.post(acceptDrawUrl, data)
      .done(function(){
        console.log('draw accepted successfully');
        drawPieces();
        updateActivePlayer();
      });           
  }

  function rescindDraw(gameId){
    var rescindDrawUrl = "/games/" + gameId + "/rescind_draw";
    var data = {_method: 'PATCH'};
    $.post(rescindDrawUrl, data)
      .done(function(){
        console.log('draw withdrawn successfully');
        drawPieces();
        updateActivePlayer();
      });       
  }

  function declineDraw(gameId){
    var declineDrawUrl = "/games/" + gameId + "/decline_draw";
    var data = {_method: 'PATCH'};
    $.post(declineDrawUrl, data)
      .done(function(){
        console.log('draw declined successfully');
        drawPieces();
        updateActivePlayer();
      });    
  }

  function offerDraw(gameId){
    var offerDrawUrl = "/games/" + gameId + "/offer_draw";
    var data = {_method: 'PATCH'};
    $.post(offerDrawUrl, data)
      .done(function(){
        console.log('draw offered successfully');
        drawPieces();
        updateActivePlayer();
      })
  }

	function joinGame(gameId) {
		var joinUrl = "/games/" + gameId + "/join";
		var data = {_method: 'PATCH'};
		$.post(joinUrl, data)
			.done(function(data){
				console.log('successfully joined!');
        console.log('calling drawPieces and updateActivePlayer from joinGame');
        drawPieces();
        updateActivePlayer();  
        $('#join-game').hide();
        $('#forfeit-game').addClass('black-player');
			})
			.fail(function(xhr, textStatus, errorThrown) {
				console.log('failed to join!');
				console.log(xhr.statusText);
				console.log(textStatus);
				console.log(errorThrown);
			});
	}

  $('#forfeit-game').on('click', function() {
    $.ajax({
      type: 'GET', 
      url: '<%= get_active_player_path(@game) %>',
      dataType: 'json',
      cache: false,
      success: function(active_player_id) {
        var current_user_id = <%= current_user.id %>;
        var white_player_id = '<%= @game.white_player_id %>';
        if(current_user_id == active_player_id){
          forfeitGame(<%=@game.id %>); 
        }
        else {
          alert('You can forfeit when it is your turn.');
        }
      }
    });
  })

  function forfeitGame(gameId) {
    var forfeitUrl = "/games/" + <%=@game.id %> + "/forfeit";
    var data = {_method: 'PATCH'};
    $.post(forfeitUrl, data)
      .done(function(data){
        console.log('forfeited game!');
      })
      .fail(function(xhr, testStatus, errorThrown) {
        console.log('failed to forfeit');
        console.log(xhr.statusText);
        console.log(textStatus);
        console.log(errorThrown);
      });
  }

  function promotePawn(pieceId){
    var choosePiece = $('.choosepiece');
    choosePiece.click(function(event){
    var pieceType = $(event.target).data('piece-type');
      var data = {type:pieceType, _method: 'PATCH'};
      var pieceUrl = "/games/" + <%=@game.id%> + "/pieces/" + pieceId + "/promote"; 
      $.post(pieceUrl, data
        ).success(function(data){
          $('.whitepromotion').css("display", "none");
          $('.blackpromotion').css("display", "none");
          drawPieces(); // note this only has effect on active board
          updateActivePlayer(); // note this only has effect on active board
        });
    });   
  }
  
  function updateActivePlayer(){
    $.ajax({
      type: 'GET', 
      url: '<%= get_active_player_path(@game) %>',
      dataType: 'json',
      cache: false,
      success: function(data) {
        var active_player_id = data.active_player_id;
        var drawOfferedBy = data.draw_offered_by;
        var current_user_id = <%= current_user.id %>;
        var white_player_id = '<%= @game.white_player_id %>';
        if(current_user_id == active_player_id){
          if( active_player_id == white_player_id ){
            $('.white').draggable({disabled: false});
            $('#forfeit-game.black-player').prop('disabled', true);
            $('#forfeit-game.white-player').prop('disabled', false);
          }
          else{
            $('.black').draggable({disabled: false});
            $('#forfeit-game.black-player').prop('disabled', false);
            $('#forfeit-game.white-player').prop('disabled', true);
            }
            console.log('isdraw: '+ drawOfferedBy);
          if (drawOfferedBy){
            // if game is in draw, disable the offer draw button
            // and enable the accept and decline buttons for the other player
            // and enable the rescind button for the draw player
            $('#offer-draw').prop('disabled', true);
            if(active_player_id == drawOfferedBy) {
              $('#rescind-draw').prop('disabled', false);
              $('#decline-draw').prop('disabled', true);
              $('#accept-draw').prop('disabled', true);
            }
            else{
              $('#rescind-draw').prop('disabled', true);
              $('#decline-draw').prop('disabled', false);
              $('#accept-draw').prop('disabled', false);             
            }
          }
          else {
            // if game is not in draw, enable the offer draw button
            // and disable all the other draw buttons
            if(active_player_id){
              $('#offer-draw').prop('disabled', false);
            }
            else {
              // no active player means game is pending or finished
              $('#offer-draw').prop('disabled', true);
            }
            $('#rescind-draw').prop('disabled', true);
            $('#decline-draw').prop('disabled', true);
            $('#accept-draw').prop('disabled', true);             
          }
        }
        else{
          // actions that the listening board should take
          $('.piece').draggable({ disabled: true });
          if(active_player_id == white_player_id) {
            $('#forfeit-game.black-player').prop('disabled', true);
            $('#forfeit-game.white-player').prop('disabled', false);            
          }
          else {
            $('#forfeit-game.black-player').prop('disabled', false);
            $('#forfeit-game.white-player').prop('disabled', true);
          }
          if (drawOfferedBy){
            $('#offer-draw').prop('disabled', true);
            if(current_user_id == drawOfferedBy) {
              $('#rescind-draw').prop('disabled', false);
              $('#decline-draw').prop('disabled', true);
              $('#accept-draw').prop('disabled', true);
            }
            else{
              $('#rescind-draw').prop('disabled', true);
              $('#decline-draw').prop('disabled', false);
              $('#accept-draw').prop('disabled', false);             
            }            
          }
          else {
            if(active_player_id){
              $('#offer-draw').prop('disabled', false); 
            }
            else{
              $('#offer-draw').prop('disabled', true);   
            }

            $('#rescind-draw').prop('disabled', true);
            $('#decline-draw').prop('disabled', true);
            $('#accept-draw').prop('disabled', true);             
          }
        }
      }, error: function (data) {
        console.log('Failed to get active player!');
        }     
    });
  }

	function dropPiece(event, ui) {
		var dest_x = $(this).data('position-x');
		var dest_y = $(this).data('position-y');
		var piece = ui.draggable;
		moveSelectedPiece(piece.data('piece-id'), dest_x, dest_y, piece);
    drawPieces();	
	}

	function moveSelectedPiece(pieceId, dest_x, dest_y, selectedPiece){
    var selectedX = selectedPiece.data('piece-position-x');
    var selectedY = selectedPiece.data('piece-position-y');
		var castleMove;
		if ((selectedPiece.html().indexOf('♔') === 0 || selectedPiece.html().indexOf('♚') === 0) && Math.abs(selectedPiece[0].dataset.positionX - dest_x) == 2 && selectedPiece[0].dataset.positionY == dest_y){
			castleMove = true;
		}
		else {
			castleMove = false;
		}

		var enPassante;

		if ( (selectedPiece.html().indexOf('♙') === 0 || selectedPiece.html().indexOf('♟') === 0) && $('.board_square[data-position-x='+ dest_x + '][data-position-y=' + dest_y + ']').children().length < 1 && Math.abs(selectedX - dest_x) == 1 && Math.abs(selectedY - dest_y) == 1  ){
			enPassante = true;
		}
		else {
			enPassante = false;
		}

		var promotion; 
		if (selectedPiece.html().indexOf('♙') === 0 && dest_y === 8) {
			promotion = true;
		}
		else if (selectedPiece.html().indexOf('♟') === 0 && dest_y === 1) {
			promotion = true;
		}
		else {
			promotion = false;
		}

    var data = {position_x: dest_x, position_y: dest_y, _method: 'PATCH'};
    var pieceUrl = "/games/" + <%=@game.id%> + "/pieces/" + pieceId + "/move"; 

		$.post(pieceUrl, data
			).success(function(data){
				// move piece on screen - clone the piece and update the pos-x and pos-y values
				if (data.success){

					if (castleMove) {
						if (dest_x == 7) {
							selectedRook = $('.board_square[data-position-x="8"][data-position-y=' + dest_y + ']').children();
							$('.board_square[data-position-x="8"][data-position-y=' + dest_y + ']').empty();
							selectedRook.attr('data-position-x', 6);
							$('.board_square[data-position-x="6"][data-position-y=' + dest_y + ']').html(selectedRook[0])
						}
						else {
							selectedRook = $('.board_square[data-position-x="1"][data-position-y=' + dest_y + ']').children();
							$('.board_square[data-position-x="1"][data-position-y=' + dest_y + ']').empty();
							selectedRook.attr('data-position-x', 4);
							$('.board_square[data-position-x="4"][data-position-y=' + dest_y + ']').html(selectedRook[0])
						}
					}

					if (enPassante) {
						if (dest_y == 6) {
							$('.board_square[data-position-x='+ dest_x +'][data-position-y="5"]').empty();
						}
						else {
							$('.board_square[data-position-x='+ dest_x +'][data-position-y="4"]').empty();
						}
					}

					if (promotion) {
            console.log('promoting!');
						if (selectedPiece.html().indexOf('♙') === 0 ) {
							$('.whitepromotion').css("display", "block");
              $('.white').draggable({disabled: true});
							promotePawn(pieceId);
						}
						else {
							$('.blackpromotion').css("display", "block");
              $('.black').draggable({disabled: true});
						 	promotePawn(pieceId);
						}
					}

					gameStatus();
					
	        console.log('We have movement!');
          console.log('calling updateActivePlayer from within moveSelectedPiece'); 
          updateActivePlayer();  
        }
	      else{
	      	$('.piece').draggable({revert: true});
					console.log('Invalid move!');
				}
			}).fail(function(data) {
		    console.log('failed move!');
	  });
		selectedPiece.css("color", "black");
	} 

</script>