

<div class="panel panel-default col-xs-10 col-xs-offset-1">
  <div class="panel-heading">
    <h4 class="panel-title" id="game-status-panel-title"><%= @game.name %></h4>
  </div>
  <div class="panel-body">
		<h4 id="firebase-turn">firebase turn</h4>
		<h4 id="firebase-checkalert"></h4>  
  </div>
</div>
<div class="clearfix"></div>

<h3 class="checkalert" style="display:none;"></h3> 
<br>
<div class="chess_board_container">
	<table class="chess_board_table">
		
		<% for position_y in 8.downto(1) %>
			<% 
				if position_y % 2 == 0
					dark_square = false
				else
					dark_square = true
				end
			%>
			<tr>
			<% for position_x in 1..8 %>
				<% 
					if dark_square == true
						color_class = "dark_square"
						dark_square = false
					else
						color_class = "light_square"
						dark_square = true
					end
				%>
				<td>
					<div data-position-x=<%= position_x %> data-position-y=<%= position_y %> class="board_square <%= color_class %>">
						<% is_piece = @game.pieces.where(position_x: position_x, position_y: position_y).first %>
						<% if is_piece %>
								<div id="piece-<%=is_piece.id %>" class="piece" data-piece-id=<%=is_piece.id %> data-position-x=<%= is_piece.position_x %> data-position-y=<%= is_piece.position_y %> ></div>	
						<% end %>
						
					</div>
				</td>	
			<% end %>
			</tr>	
		<% end %>

	</table>

	<table class="x_axis_labels">
		<tr>
			<% 
				arr_x_labels = {
					1 => 'a',
					2 => 'b',
					3 => 'c',
					4 => 'd',
					5 => 'e',
					6 => 'f',
					7 => 'g',
					8 => 'h'
				}
			%>	
			<% for i in 1..8 %>
				<td><div class="label_square"><%= arr_x_labels[i] %></div></td>
			<% end %>

		</tr>
	</table>

	<table class="y_axis_labels">
		<% for i in 8.downto(1) %>
			<tr>
				<td><div class="label_square"><%= i %></div></td>
			</tr>
		<% end %>
		
	</table>

</div> <!-- close chess_board_container div -->
<br><br><br>

<div class="whitepromotion" style="display: none;" >
<h2 class="text-center">You can promote your pawn</h2>
	<div class="container">
    <div class="text-center">
			<div class="btn btn-default choosepiece" data-piece-type="Rook">♖</div>
			<div class="btn btn-default choosepiece" data-piece-type="Knight">♘</div>
			<div class="btn btn-default choosepiece" data-piece-type="Bishop">♗</div>
			<div class="btn btn-default choosepiece" data-piece-type="Queen">♕</div>
		</div>
	</div>
</div>

<div class="blackpromotion" style="display: none;">
<h2 class="text-center">You can promote your pawn</h2>
	<div class="container">
    <div class="text-center">
			<div class="btn btn-default choosepiece" data-piece-type="Rook">♜</div>
			<div class="btn btn-default choosepiece" data-piece-type="Knight">♞</div>
			<div class="btn btn-default choosepiece" data-piece-type="Bishop">♝</div>
			<div class="btn btn-default choosepiece" data-piece-type="Queen">♛</div> 
		</div>
	</div>
</div>

<h1>White Player</h1>
<p><%= @game.white_player.email %></p>
<br />
<br />
<h1>Black Player</h1>
<% if @game.black_player == nil && @game.white_player_id != current_user.id %>
	<button class="btn btn-primary" id="join-game">Join Game</button>
<% elsif @game.black_player != nil %>
	<p><%= @game.black_player.email %></p>
<% end %>
<br />
<br />
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyCC2MZPApT577ulM1MkmMJsKLi-pnExpWE",
    authDomain: "rtod2-caa01.firebaseapp.com",
    databaseURL: "https://rtod2-caa01.firebaseio.com",
   storageBucket: ""
  };

  //var config = {
  //  apiKey: "AIzaSyDl-eYmZdYvQQO3vs2JqK9tYjg_L2t8n2I",
  //  authDomain: "yuzu-rtod2.firebaseapp.com",
  //  databaseURL: "https://yuzu-rtod2.firebaseio.com",
  //  storageBucket: "",
  //}; 
  firebase.initializeApp(config);
  var dbRef = firebase.database().ref();
	var gamesRef = dbRef.child('game'); 
  var gameRef = gamesRef.child(<%= @game.id %>);
  var whitePlayerId = <%= @game.white_player_id %>;
	var pieceCodes = {
		white: 
		{
			'pawn': '&#9817;',
		 	'rook': '&#9814;',
		 	'knight': '&#9816;',
		 	'bishop': '&#9815;',
		 	'queen': '&#9813;',
		 	'king': '&#9812;'
		},
		black: 
		{
			'pawn': '&#9823;',
		 	'rook': '&#9820;',
		 	'knight': '&#9822;',
		 	'bishop': '&#9821;',
		 	'queen': '&#9819;',
		 	'king': '&#9818;'
		}
	}
	
	function drawPieces(){
		$.ajax({
      type: 'GET', 
      url: '<%= get_pieces_path(@game) %>',
      dataType: 'json',
      success: function(pieces) {
        $.each(pieces, function(index, piece){
        	if( isPieceOnBoard(piece.position_x, piece.position_y) ){
        		var pieceColor;	
						if (piece.player_id == <%= @game.white_player_id %>){
							pieceColor = 'white';
						}
						else{
							pieceColor = 'black'
						}
						
						// get rid of old piece
						$('.piece[data-piece-id=' + piece.id + ']').empty();

						clonedPiece = $('<div class="piece"></div>'); 
						clonedPiece.attr('data-piece-id', piece.id);
						clonedPiece.attr('data-piece-color', pieceColor);
						clonedPiece.attr('data-piece-position-x', piece.position_x);
						clonedPiece.attr('data-piece-position-y', piece.position_y);
						clonedPiece.addClass(pieceColor);
						clonedPiece.html(pieceCodes[pieceColor][piece.type.toLowerCase()]);
						$('.board_square[data-position-x='+ piece.position_x + '][data-position-y=' + piece.position_y + ']').html(clonedPiece);
						//updateActivePlayer();
        	}
				});
        updateActivePlayer();
      }, error: function (data) {
        console.log('Chess pieces failed to load!');
      }
    });
	}

	function isPieceOnBoard(x,y){
		return ( x > 0 && x <= 8 && y > 0 && y <= 8 );
	}

	function isEmptyBoardSquare(x,y){
		if( $('.board_square[data-position-x='+ x + '][data-position-y=' + y + ']').find('.piece').length > 0 ){
			return true;
		}
		else{
			return false;
		}
	}

	function gameStatus(){
		var checkAlert = $('.checkalert')
    console.log('starting gameStatus');
		$.ajax({
      type: 'GET', 
      url: '<%= status_game_path(@game) %>',
      dataType: 'json',
      success: function(data) {
      	if (data.is_in_check === true) {
      		checkAlert.css("display", "block");
      		var checkMessage = data.current_color_in_check + ' (' + data.current_player_in_check + ') in check';
      		checkAlert.html(checkMessage);
          if (gameRef) {
  					gameRef.update({
              check_message: checkMessage,
              });
          }      		
      	}
      	else {
      		checkAlert.css("display", "none");
          if (gameRef) {
  					gameRef.update({
              check_message: "",
              });
          }
      	}
      }, error: function (data) {
        console.log('Status failed to load!');
      }
    });
	}

	var initializeFirebase = function (){
		// check if there is a key for the game already
		// if there is none, the game is new and should be set to pending
		// if there is a child game already, this doesn't need to be done any more and 
		// should be skipped (or the game may move from active back to pending)
    var deferred = new $.Deferred();

    // if this is truly initializing, shouldnt I be able to start all FB stuff from here?
    //var config = {
    //  apiKey: "AIzaSyDl-eYmZdYvQQO3vs2JqK9tYjg_L2t8n2I",
    //  authDomain: "yuzu-rtod2.firebaseapp.com",
    //  databaseURL: "https://yuzu-rtod2.firebaseio.com",
    //  storageBucket: "",
    //}; 
    //firebase.initializeApp(config);
    //var dbRef = firebase.database().ref();
    //var gamesRef = dbRef.child('game'); 
    //var gameRef = gamesRef.child(<%= @game.id %>);
    //var whitePlayerId = <%= @game.white_player_id %>;

    console.log('starting initialize FB');
    var gameId = <%= @game.id %>;
    gameRef.once('value', function(snapshot) {
      console.log('in initial, gameRef: ' + gameRef);
      if (!snapshot.child('game_status').exists()) {
        console.log('setting the game status from initilaize');
        gameRef.update({
          game_status: "<%= @game.status %>"         
        });                    
      }
      if (!snapshot.child('active_player_id').exists()) {
        gameRef.update({
          active_player_id: "<%=@game.active_player_id %>"
        });
      }
      deferred.resolve(gameRef);
    }); 
    return deferred.promise();
  }

	$(document).ready(function(){
    initializeFirebase().then(gameStatus());
		drawPieces();
		//gameStatus();
		$('.dark_square').droppable({drop: dropPiece});
		$('.light_square').droppable({drop: dropPiece});
		//updateActivePlayer();
	});

	$('.piece').on('drag',(function(){
		$(this).css('color', 'blue');
	}));

	$('.piece').on('dragstop', function() {
		$(this).css('color', 'black');
	} );

	$('#join-game').on('click', function(){
		joinGame(<%=@game.id %>);
	})

	function joinGame(gameId) {
		var joinUrl = "/games/" + <%=@game.id %> + "/join";
		var data = {_method: 'PATCH'};
		$.post(joinUrl, data)
			.done(function(data){
				console.log('successfully joined!');
        console.log(data);
				gameRef.update({
                    active_player_id: "<%=@game.white_player_id %>",
                    game_status: 'active'
        });	
        drawPieces();
        updateActivePlayer;
        $('#join-game').hide();
			})
			.fail(function(xhr, textStatus, errorThrown) {
				console.log('failed to join!');
				console.log(xhr.statusText);
				console.log(textStatus);
				console.log(errorThrown);
			});
	}

	// FIREBASE LISTENER
	gameRef.on('value', function(dataSnapshot) {
    var gameData = dataSnapshot.val();
    if (gameData) {
    	console.log('in listener');
      if (gameData.active_player_id === '<%= current_user.id %>') {
        $('#firebase-turn').text('It is your turn.');  
      }
    	else if (gameData.active_player_id) {
	    	if (gameData.active_player_id == whitePlayerId) {
	    		$('#firebase-turn').text('White\'s Move');	
	    	}
	    	else if (gameData.active_player_id !== "") {
	    		$('#firebase-turn').text('Black\'s Move');		
	    	}
	    	else { 
					$('#firebase-turn').text('');		
	    	}
			}
			else {
				// have to do this because initializer isn't the first thing that is running ;_;
				$('#firebase-turn').text('');
			}
      var gameStatusMsg = "<%= @game.name %>: ";
			if (gameData.game_status) { 
        switch (gameData.game_status) {
          case 'pending':
            gameStatusMsg += 'waiting for an opponent';
            break;
          case 'active':
            gameStatusMsg += 'active';
            break;
          case 'finished':
            var winnerId;
            winnerId = "<%= @game.winning_player %>";
            if (winnerId !==""){
              if (winnerId === "<%= @game.white_player.id %>") {
                gameStatusMsg += "<%= @game.white_player.email %> won";
              }
              else {
                gameStatusMsg += "the black player who doesn't exist at start of game won";
              }
            }
            break;
          default:
            gameStatusMsg += gameData.game_status;
        }
      }       
	    else {
	    	// have to do this because initializer isn't the first thing that is running ;_;
	    	//$('#firebase-status').text('');
	    }
      $('#game-status-panel-title').text(gameStatusMsg);
    	if (gameData.check_message !== null) {
    		$('#firebase-checkalert').text(gameData.check_message);
    	}
      drawPieces();
    }  
    else {
    	console.log('listening for changes, cant find game- gameRef ' + gameRef);
    }
  });

  function updateActivePlayer(){
    $.ajax({
      type: 'GET', 
      url: '<%= get_active_player_path(@game) %>',
      dataType: 'json',
      success: function(active_player_id) {
        var current_user_id = <%= current_user.id %>;
        var black_player_id = '<%= @game.black_player_id %>';
        if(current_user_id == active_player_id){
          if( active_player_id == black_player_id ){
            $('.black').draggable({disabled: false});
          }
          else{
            $('.white').draggable({disabled: false});
          }
        }
        else{
          $('.piece').draggable({ disabled: true });
        }
      }, error: function (data) {
        console.log('Failed to get active player!');
        }     
    });
  }

	function dropPiece(event, ui) {
		var dest_x = $(this).data('position-x');
		var dest_y = $(this).data('position-y');
		var piece = ui.draggable;
		moveSelectedPiece(piece.data('piece-id'), dest_x, dest_y, piece);	
	}

	function promotePawn(pieceId){
		var choosePiece = $('.choosepiece');
		choosePiece.click(function(event){
		var pieceType = $(event.target).data('piece-type');
    var pieceColor = $(event.target).data('piece-color');
			var data = {type:pieceType, _method: 'PATCH'};
			var pieceUrl = "/games/" + <%=@game.id%> + "/pieces/" + pieceId + "/promote"; 
			$.post(pieceUrl, data
				).success(function(data){
					$('.whitepromotion').css("display", "none");
					$('.blackpromotion').css("display", "none");
					drawPieces();
          if (pieceColor === 'black'){
            gameRef.update({
              active_player_id: "<%=@game.white_player_id %>"
            });
          }
          else {
            gameRef.update({
              active_player_id: "<%=@game.black_player_id %>"
            });
          }
				});
		});		
	}
	
	function moveSelectedPiece(pieceId, dest_x, dest_y, selectedPiece){
		var data = {position_x: dest_x, position_y: dest_y, _method: 'PATCH'};
		var pieceUrl = "/games/" + <%=@game.id%> + "/pieces/" + pieceId + "/move"; 
		var castleMove;
		if ((selectedPiece.html().indexOf('♔') === 0 || selectedPiece.html().indexOf('♚') === 0) && Math.abs(selectedPiece[0].dataset.positionX - dest_x) == 2 && selectedPiece[0].dataset.positionY == dest_y){
			castleMove = true;
		}
		else {
			castleMove = false;
		}
		var enPassante;
		if ( (selectedPiece.html().indexOf('♙') === 0 || selectedPiece.html().indexOf('♟') === 0) && $('.board_square[data-position-x='+ dest_x + '][data-position-y=' + dest_y + ']').children().length < 1 && Math.abs(selectedPiece[0].dataset.positionX - dest_x) == 1 && Math.abs(selectedPiece[0].dataset.positionY - dest_y) == 1  ){
			enPassante = true;
		}
		else {
			enPassante = false;
		}

		var promotion; 
		if (selectedPiece.html().indexOf('♙') === 0 && dest_y === 8) {
			promotion = true;
		}
		else if (selectedPiece.html().indexOf('♟') === 0 && dest_y === 1) {
			promotion = true;
		}
		else {
			promotion = false;
		}
		
		$.post(pieceUrl, data
			).success(function(data){
				// move piece on screen - clone the piece and update the pos-x and pos-y values
				if (data.success){

					if (castleMove) {
						if (dest_x == 7) {
							selectedRook = $('.board_square[data-position-x="8"][data-position-y=' + dest_y + ']').children();
							$('.board_square[data-position-x="8"][data-position-y=' + dest_y + ']').empty();
							selectedRook.attr('data-position-x', 6);
							$('.board_square[data-position-x="6"][data-position-y=' + dest_y + ']').html(selectedRook[0])
						}
						else {
							selectedRook = $('.board_square[data-position-x="1"][data-position-y=' + dest_y + ']').children();
							$('.board_square[data-position-x="1"][data-position-y=' + dest_y + ']').empty();
							selectedRook.attr('data-position-x', 4);
							$('.board_square[data-position-x="4"][data-position-y=' + dest_y + ']').html(selectedRook[0])
						}
					}

					if (enPassante) {
						if (dest_y == 6) {
							$('.board_square[data-position-x='+ dest_x +'][data-position-y="5"]').empty();
						}
						else {
							$('.board_square[data-position-x='+ dest_x +'][data-position-y="4"]').empty();
						}
					}

					if (promotion) {
						if (selectedPiece.html().indexOf('♙') === 0 ) {
							$('.whitepromotion').css("display", "block");
							promotePawn(pieceId);
						}
						else {
							$('.blackpromotion').css("display", "block");
						 	promotePawn(pieceId);
						}
					}

					gameStatus();
					
	        console.log('We have movement!');

          if (!promotion) {
            // only update active turn if it's not a promotion
           if (selectedPiece.attr('data-piece-color') === 'black') {
                console.log('updating active player to white');
                gameRef.update({
                	active_player_id: "<%=@game.white_player_id %>"
                });
            }
            else {
                gameRef.update({
                  active_player_id: "<%=@game.black_player_id %>"
                });
            }
          }

          console.log('calling updateActivePlayer from within moveSelectedPiece');
          updateActivePlayer();           
        }
	      else{
	      	$('.piece').draggable({revert: true});
					console.log('Invalid move!');
				}
			}).fail(function(data) {
		    console.log('failed move!');
	  });
		selectedPiece.css("color", "black");
	} 

</script>